# Build outputs
*.pdb
*.exe
*.dll
!vlmsg.dll

# Visual Basic 6 (legacy)
Fas-Disasm.SUP
*.vbw

# Archives
*.7z

# Temp
tmp/
*.tmp

# Example outputs
example/defun/defun_test.fas.txt-
example/defun/defun_test.fas_.lsp-
example/defun/defun_test.fas.fct
example/defun/defun_test.fas.res

# .NET Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
artifacts/
publish/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.cache

# JetBrains Rider
.idea/

# NuGet
*.nupkg
**/packages/*

# OS specific
.DS_Store
Thumbs.db
Desktop.ini
